## IMDB Top 250 Movies Scraper
#### Note:
Please run all the cells below, the main() function is located at the bottom of the notebook which scraps data from the link of Top 250 IMDB movies and exports it as a csv file.
Made by Kunal N. Gohrani

In [1]:
from IPython.display import Javascript, display
from ipywidgets import widgets

def run_all(ev):
    display(Javascript('IPython.notebook.execute_cell_range(IPython.notebook.get_selected_index()+1, IPython.notebook.ncells())'))

button = widgets.Button(description="Run all below")
button.on_click(run_all)
display(button)

Button(description='Run all below', style=ButtonStyle())

In [2]:
# Importing all libraries
from bs4 import BeautifulSoup
import urllib.request, urllib.parse, urllib.error
import re
import time
import pandas as pd
pd.set_option('display.max_rows', 700)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## 1. Index Extraction function

In [3]:
def index_extract(movie):
    index_elem=movie.find(class_='lister-item-index unbold text-primary')
    
    if index_elem is None:
        return None
    else:
        ans=index_elem.text
        return int(ans.split('.')[0])

## 2. Name Extraction Function

In [4]:
def name_extract(movie):
    header_elem=movie.find(class_='lister-item-header')
    if header_elem is None:
        return None
    else:
        header=header_elem.find('a').text
        return header

## 3. Year of Release Extraction Function

In [5]:
def year_extract(movie):
    year_elem=movie.find(class_='lister-item-year text-muted unbold')
    ans=re.findall(r'\((\d+)\)',year_elem.text)
    if len(ans)<1:
        return None
    else:
        return int(ans[0])

## 4. Genre Extraction Function

In [6]:
def genre_extract(movie):
    ans=movie.find(class_='genre')
    if ans is None:
        return None
    else:
        return ans.text.strip().replace('\n','')

## 5. IMDB Rating Extraction Function

In [7]:
def imdb_extract(movie):
    rating_elem=movie.find(class_='inline-block ratings-imdb-rating')
    if rating_elem is None:
        return None
    else:
        rating=rating_elem.find('strong').text
        return float(rating)

## 6. Metascore Extraction Function

In [8]:
def metascore_extract(movie):
    temp=movie.find(class_='metascore')
    if temp is None:
        return None
    else:
        return str(temp.text.strip())

## 7. Summary Extraction Function

In [9]:
def summary_extract(movie):
    temp=movie.find_all('p',{'class':'text-muted'})
    if temp is None:
        return None
    else:
        temp=temp[-1].text
        return str(temp.replace('\n','').strip())

## 8. Director and Star Extraction Function

In [10]:
def director_and_star_extract(movie):
    send=[]
    temp=''
    director_star_elem=movie.find_all('p',{'class':''})
    # made by Kunal N Gohrani
    # Director column got no class attribute so need to check if Director word is present or not
    for i in director_star_elem:
        if 'Director' in i.text:
            temp=i.text
    temp=temp.replace('\n','').strip()
    # using regular expressions to take out directors and stars
    #taking out directors
    director=re.findall(r'^Director[s:]*([a-zA-Z0-9 ,.]*)',temp)
    if len(director)<1:
        send.append(None)
    else:
        send.append(director[0])
    #taking out stars
    star=re.findall(r'Star[s:]+([a-zA-Z0-9 ,.]*)',temp)
    if len(star)<1:
        send.append(None)
    else:
        send.append(star[0])
    return send

## 9. Votes Extraction Function

In [11]:
def votes_extract(movie):
    temp=movie.find(class_='sort-num_votes-visible')
    temp=temp.text.strip().replace('\n','')
    vote=re.findall(r'Vote[s:]+([0-9,]+)',temp)
    if len(vote)<1:
        return None
    else:
        return vote[0]

## 10. Gross Extraction Function

In [12]:
def gross_extract(movie):
    temp=movie.find(class_='sort-num_votes-visible')
    temp=temp.text.strip().replace('\n','')
    gross=re.findall(r'Gross:([\$0-9.,A-Z]+)',temp)
    if len(gross)<1:
        return None
    else:
        return gross[0]

## 11. Next URL Finder

In [13]:
def next_url_fetcher(soup):
    link=soup.find(class_='lister-page-next next-page')
    if link is None:
        return None
    else:
        link=link.get('href')
        link='https://www.imdb.com'+link
    return link

## 12. URL Fetcher

In [14]:
def url_fetcher(url=''):
    if url=='':
        url='https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&ref_=adv_prv'
    user_agent={}
    user_agent['Mozila'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64)'
    user_agent['Android'] = 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:68.0) Gecko/20100101 Firefox/68.0'
    headers={'User-Agent':user_agent['Android'],'Accept-Language': 'en-US,en;q=0.8'}
    urlHandle=urllib.request.Request(url,None,headers)
    urlHandle=urllib.request.urlopen(urlHandle)
    content=urlHandle.read()
    return BeautifulSoup(content,'html.parser')

## 13. DataFrame Maker and Exporter

In [15]:
def DataFrame_Printer_and_Exporter():
    data={}
    data['Name']=name
    data['Year of Release']=year
    data['Genre']=genre
    data['IMDB Rating']=IMDB_rating
    data['Metascore']=metascore
    data['Director(s)']=directors
    data['Star(s)']=stars
    data['Summary']=summary
    data['Votes']=votes
    data['Gross Earning']=grosses
    df = pd.DataFrame(data=data,index=index)
    df.to_csv('IMDB.csv')
    return df

## 14. Main Function

In [16]:
# Main Cell Executor
index=[]
name=[]
year=[]
genre=[]
IMDB_rating=[]
metascore=[]
summary=[]
directors=[]
stars=[]
votes=[]
grosses=[]

def main():
    wait=input('Enter number of seconds to wait before fetching the next page (default: 25): ')
    if wait=='':
        wait=25
    else:
        wait=int(wait)
    print('Fetching page')
    soup=url_fetcher()
    for i in range(1,6):
        all_movies=soup.find_all(class_='lister-item-content')
        print('Fetching page')
        print('Scraping.....')
        for movie in all_movies:
            # Extracting all information needed by calling related functions and appending
            # to related list
            index.append(index_extract(movie))
            name.append(name_extract(movie))
            year.append(year_extract(movie))
            genre.append(genre_extract(movie))
            IMDB_rating.append(imdb_extract(movie))
            metascore.append(metascore_extract(movie))
            summary.append(summary_extract(movie))
            director_and_star=director_and_star_extract(movie)
            directors.append(director_and_star[0])
            stars.append(director_and_star[1])
            votes.append(votes_extract(movie))
            grosses.append(gross_extract(movie))
        next_link=next_url_fetcher(soup)
        if next_link is None:
            print('Scraping completed..Exiting')
            break;
        print('Scraping completed... sleeping for ',wait,' seconds')
        time.sleep(wait)
        soup=url_fetcher(next_link)
    df=DataFrame_Printer_and_Exporter()
    return df

In [17]:
# Calling main Function, main functions returns the dataframe to be printed below, and also exports a csv file.
df=main()

Enter number of seconds to wait before fetching the next page (default: 25): 30
Fetching page
Fetching page
Scraping.....
Scraping completed... sleeping for  30  seconds
Fetching page
Scraping.....
Scraping completed... sleeping for  30  seconds
Fetching page
Scraping.....
Scraping completed... sleeping for  30  seconds
Fetching page
Scraping.....
Scraping completed... sleeping for  30  seconds
Fetching page
Scraping.....
Scraping completed..Exiting

In [18]:
df

                                                  Name  Year of Release                          Genre  IMDB Rating Metascore                                    Director(s)                                            Star(s)                                            Summary      Votes Gross Earning
1                             The Shawshank Redemption             1994                          Drama          9.3        80                                 Frank Darabont  Tim Robbins, Morgan Freeman, Bob Gunton, Willi...  Two imprisoned men bond over a number of years...  2,123,733       $28.34M
2                                        The Godfather             1972                   Crime, Drama          9.2       100                           Francis Ford Coppola  Marlon Brando, Al Pacino, James Caan, Diane Ke...  The aging patriarch of an organized crime dyna...  1,458,140      $134.97M
3                                      The Dark Knight             2008           Action, Crime, Drama          9.0        84                              Christopher Nolan  Christian Bale, Heath Ledger, Aaron Eckhart, M...  When the menace known as The Joker emerges fro...  2,088,869      $534.86M
4                               The Godfather: Part II             1974                   Crime, Drama          9.0        90                           Francis Ford Coppola  Al Pacino, Robert De Niro, Robert Duvall, Dian...  The early life and career of Vito Corleone in ...  1,014,144       $57.30M
5        The Lord of the Rings: The Return of the King             2003      Adventure, Drama, Fantasy          8.9        94                                  Peter Jackson  Elijah Wood, Viggo Mortensen, Ian McKellen, Or...  Gandalf and Aragorn lead the World of Men agai...  1,511,063      $377.85M
6                                         Pulp Fiction             1994                   Crime, Drama          8.9        94                              Quentin Tarantino  John Travolta, Uma Thurman, Samuel L. Jackson,...  The lives of two mob hitmen, a boxer, a gangst...  1,663,444      $107.93M
7                                     Schindler's List             1993      Biography, Drama, History          8.9        93                               Steven Spielberg  Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...  In German-occupied Poland during World War II,...  1,102,012       $96.90M
8                                         12 Angry Men             1957                          Drama          8.9        96                                   Sidney Lumet  Henry Fonda, Lee J. Cobb, Martin Balsam, John ...  A jury holdout attempts to prevent a miscarria...    604,813        $4.36M
9                                            Inception             2010      Action, Adventure, Sci-Fi          8.8        74                              Christopher Nolan                   Leonardo DiCaprio, Joseph Gordon  A thief who steals corporate secrets through t...  1,862,008      $292.58M
10                                          Fight Club             1999                          Drama          8.8        66                                  David Fincher  Brad Pitt, Edward Norton, Meat Loaf, Zach Grenier  An insomniac office worker and a devil-may-car...  1,697,520       $37.03M
11   The Lord of the Rings: The Fellowship of the Ring             2001      Adventure, Drama, Fantasy          8.8        92                                  Peter Jackson  Elijah Wood, Ian McKellen, Orlando Bloom, Sean...  A meek Hobbit from the Shire and eight compani...  1,526,634      $315.54M
12                                        Forrest Gump             1994                 Drama, Romance          8.8        82                                Robert Zemeckis  Tom Hanks, Robin Wright, Gary Sinise, Sally Field  The presidencies of Kennedy and Johnson, the e...  1,633,113      $330.25M
13                      The Good, the Bad and the Ugly             1966                        Western          8.8        90                                   Sergio Leone  Clint Eastwood, Eli Wallach, Lee Van Cleef, Al...  A bounty hunting scam joins two men in an unea...    630,845        $6.10M
14               The Lord of the Rings: The Two Towers             2002      Adventure, Drama, Fantasy          8.7        87                                  Peter Jackson  Elijah Wood, Ian McKellen, Viggo Mortensen, Or...  While Frodo and Sam edge closer to Mordor with...  1,366,541      $342.55M
15                                          The Matrix             1999                 Action, Sci-Fi          8.7        73                Lana Wachowski, Lilly Wachowski           Keanu Reeves, Laurence Fishburne, Carrie  A computer hacker learns from mysterious rebel...  1,527,675      $171.48M
16                                          Goodfellas             1990        Biography, Crime, Drama          8.7        89                                Martin Scorsese  Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...  The story of Henry Hill and his life in the mo...    917,379       $46.84M
17      Star Wars: Episode V - The Empire Strikes Back             1980     Action, Adventure, Fantasy          8.7        82                                 Irvin Kershner  Mark Hamill, Harrison Ford, Carrie Fisher, Bil...  After the Rebels are brutally overpowered by t...  1,063,515      $290.48M
18                     One Flew Over the Cuckoo's Nest             1975                          Drama          8.7        83                                   Milos Forman  Jack Nicholson, Louise Fletcher, Will Sampson,...  A criminal pleads insanity after getting into ...    840,633      $112.00M
19                                   Avengers: Endgame             2019      Action, Adventure, Sci-Fi          8.6        78                       Anthony Russo, Joe Russo  Robert Downey Jr., Chris Evans, Mark Ruffalo, ...  After the devastating events of Avengers: Infi...    522,623      $858.02M
20                                        Interstellar             2014       Adventure, Drama, Sci-Fi          8.6        74                              Christopher Nolan  Matthew McConaughey, Anne Hathaway, Jessica Ch...  A team of explorers travel through a wormhole ...  1,319,062      $188.02M
21                                         City of God             2002                   Crime, Drama          8.6        79                          Fernando Meirelles, K  Alexandre Rodrigues, Leandro Firmino, Matheus ...  In the slums of Rio, two kids' paths diverge a...    651,129        $7.56M
22                                       Spirited Away             2001   Animation, Adventure, Family          8.6        96                      Hayao Miyazaki, Kirk Wise  Daveigh Chase, Suzanne Pleshette, Miyu Irino, ...  During her family's move to the suburbs, a sul...    566,394       $10.06M
23                                 Saving Private Ryan             1998                     Drama, War          8.6        91                               Steven Spielberg  Tom Hanks, Matt Damon, Tom Sizemore, Edward Burns  Following the Normandy Landings, a group of U....  1,125,085      $216.54M
24                                      The Green Mile             1999          Crime, Drama, Fantasy          8.6        61                                 Frank Darabont  Tom Hanks, Michael Clarke Duncan, David Morse,...  The lives of guards on Death Row are affected ...  1,030,175      $136.80M
25                                   Life Is Beautiful             1997         Comedy, Drama, Romance          8.6        59                                Roberto Benigni  Roberto Benigni, Nicoletta Braschi, Giorgio Ca...  When an open-minded Jewish librarian and his s...    560,502       $57.60M
26                                               Se7en             1995          Crime, Drama, Mystery          8.6        65                                  David Fincher  Morgan Freeman, Brad Pitt, Kevin Spacey, Andre...  Two detectives, a rookie and a veteran, hunt a...  1,304,234      $100.13M
27                              Léon: The Professional             1994           Action, Crime, Drama          8.6        64                                     Luc Besson  Jean Reno, Gary Oldman, Natalie Portman, Danny...  Mathilda, a 12-year-old girl, is reluctantly t...    938,401       $19.50M
28                            The Silence of the Lambs             1991         Crime, Drama, Thriller          8.6        85                                 Jonathan Demme  Jodie Foster, Anthony Hopkins, Lawrence A. Bon...  A young F.B.I. cadet must receive the help of ...  1,149,342      $130.74M
29                  Star Wars: Episode IV - A New Hope             1977     Action, Adventure, Fantasy          8.6        90                                   George Lucas  Mark Hamill, Harrison Ford, Carrie Fisher, Ale...  Luke Skywalker joins forces with a Jedi Knight...  1,132,540      $322.74M
30                                       Seven Samurai             1954               Adventure, Drama          8.6        98                                 Akira Kurosawa                                             Toshir  A poor village under attack by bandits recruit...    287,795        $0.27M
31                               It's a Wonderful Life             1946         Drama, Family, Fantasy          8.6        89                                    Frank Capra  James Stewart, Donna Reed, Lionel Barrymore, T...  An angel is sent from Heaven to help a despera...    361,512          None
32                   Spider-Man: Into the Spider-Verse             2018   Animation, Action, Adventure          8.5        87  Bob Persichetti, Peter Ramsey, Rodney Rothman  Shameik Moore, Jake Johnson, Hailee Steinfeld,...  Teen Miles Morales becomes Spider-Man of his r...    244,992      $190.24M
33                              Avengers: Infinity War             2018      Action, Adventure, Sci-Fi          8.5        68                       Anthony Russo, Joe Russo  Robert Downey Jr., Chris Hemsworth, Mark Ruffa...  The Avengers and their allies must be willing ...    696,408      $678.82M
34                                            Whiplash             2014                   Drama, Music          8.5        88                                Damien Chazelle  Miles Teller, J.K. Simmons, Melissa Benoist, P...  A promising young drummer enrolls at a cut-thr...    626,951       $13.09M
35                                    The Intouchables             2011       Biography, Comedy, Drama          8.5        57                              Olivier Nakache,                                                Fran  After he becomes a quadriplegic from a paragli...    685,942       $13.18M
36                                        The Prestige             2006         Drama, Mystery, Sci-Fi          8.5        66                              Christopher Nolan  Christian Bale, Hugh Jackman, Scarlett Johanss...  After a tragic accident, two stage magicians e...  1,078,307       $53.09M
37                                        The Departed             2006         Crime, Drama, Thriller          8.5        85                                Martin Scorsese  Leonardo DiCaprio, Matt Damon, Jack Nicholson,...  An undercover cop and a mole in the police att...  1,087,660      $132.38M
38                                         The Pianist             2002        Biography, Drama, Music          8.5        85                                 Roman Polanski  Adrien Brody, Thomas Kretschmann, Frank Finlay...  A Polish Jewish musician struggles to survive ...    652,515       $32.57M
39                                           Gladiator             2000       Action, Adventure, Drama          8.5        67                                   Ridley Scott  Russell Crowe, Joaquin Phoenix, Connie Nielsen...  A former Roman General sets out to exact venge...  1,226,118      $187.71M
40                                  American History X             1998                          Drama          8.5        62                                      Tony Kaye           Edward Norton, Edward Furlong, Beverly D  A former neo-nazi skinhead tries to prevent hi...    960,398        $6.72M
41                                  The Usual Suspects             1995       Crime, Mystery, Thriller          8.5        77                                   Bryan Singer  Kevin Spacey, Gabriel Byrne, Chazz Palminteri,...  A sole survivor tells of the twisty events lea...    916,635       $23.34M
42                                       The Lion King             1994    Animation, Adventure, Drama          8.5        88                      Roger Allers, Rob Minkoff  Matthew Broderick, Jeremy Irons, James Earl Jo...  A Lion cub crown prince is tricked by a treach...    854,886      $422.78M
43                          Terminator 2: Judgment Day             1991                 Action, Sci-Fi          8.5        75                                  James Cameron  Arnold Schwarzenegger, Linda Hamilton, Edward ...  A cyborg, identical to the one who failed to k...    918,246      $204.84M
44                                     Cinema Paradiso             1988                          Drama          8.5        80                             Giuseppe Tornatore  Philippe Noiret, Enzo Cannavale, Antonella Att...  A filmmaker recalls his childhood when falling...    204,721       $11.99M
45                              Grave of the Fireflies             1988          Animation, Drama, War          8.5      None                                  Isao Takahata  Tsutomu Tatsumi, Ayano Shiraishi, Akemi Yamagu...  A young boy and his little sister struggle to ...    200,703          None
46                                  Back to the Future             1985      Adventure, Comedy, Sci-Fi          8.5        87                                Robert Zemeckis  Michael J. Fox, Christopher Lloyd, Lea Thompso...  Marty McFly, a 17-year-old high school student...    949,088      $210.61M
47                        Once Upon a Time in the West             1968                        Western          8.5        80                                   Sergio Leone  Henry Fonda, Charles Bronson, Claudia Cardinal...  A mysterious stranger with a harmonica joins f...    275,064        $5.32M
48                                              Psycho             1960      Horror, Mystery, Thriller          8.5        97                               Alfred Hitchcock  Anthony Perkins, Janet Leigh, Vera Miles, John...  A Phoenix secretary embezzles forty thousand d...    545,276       $32.00M
49                                         Rear Window             1954              Mystery, Thriller          8.5       100                               Alfred Hitchcock  James Stewart, Grace Kelly, Wendell Corey, The...  A wheelchair-bound photographer spies on his n...    404,208       $36.76M
50                                          Casablanca             1942            Drama, Romance, War          8.5       100                                 Michael Curtiz  Humphrey Bogart, Ingrid Bergman, Paul Henreid,...  A cynical American expatriate struggles to dec...    481,689        $1.02M
51                                  The Great Dictator             1940             Comedy, Drama, War          8.5      None                                Charles Chaplin  Charles Chaplin, Paulette Goddard, Jack Oakie,...  Dictator Adenoid Hynkel tries to expand his em...    183,516          None
52                                        Modern Times             1936          Comedy, Drama, Family          8.5        96                                Charles Chaplin  Charles Chaplin, Paulette Goddard, Henry Bergm...  The Tramp struggles to live in modern industri...    193,872        $0.16M
53                                         City Lights             1931         Comedy, Drama, Romance          8.5        99                                Charles Chaplin  Charles Chaplin, Virginia Cherrill, Florence L...  With the aid of a wealthy erratic tippler, a d...    149,938        $0.02M
54                                           Andhadhun             2018                Crime, Thriller          8.4      None                                Sriram Raghavan  Ayushmann Khurrana, Tabu, Radhika Apte, Anil D...  A series of mysterious events change the life ...     46,857        $1.19M
55                                          Your Name.             2016      Animation, Drama, Fantasy          8.4        79                                 Makoto Shinkai                                                 Ry  Two strangers find themselves linked in a biza...    140,114        $5.02M
56                                              Dangal             2016       Action, Biography, Drama          8.4      None                                  Nitesh Tiwari  Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...  Former wrestler Mahavir Singh Phogat and his t...    126,988       $12.39M
57                                                Coco             2017   Animation, Adventure, Comedy          8.4        81                     Lee Unkrich, Adrian Molina                        Anthony Gonzalez, Gael Garc  Aspiring musician Miguel, confronted with his ...    289,215      $209.73M
58                                    Django Unchained             2012                 Drama, Western          8.4        81                              Quentin Tarantino  Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...  With the help of a German bounty hunter, a fre...  1,226,636      $162.81M
59                               The Dark Knight Rises             2012               Action, Thriller          8.4        78                              Christopher Nolan  Christian Bale, Tom Hardy, Anne Hathaway, Gary...  Eight years after the Joker's reign of anarchy...  1,400,564      $448.14M
60                                            3 Idiots             2009                  Comedy, Drama          8.4        67                                Rajkumar Hirani    Aamir Khan, Madhavan, Mona Singh, Sharman Joshi  Two friends are searching for their long lost ...    304,798        $6.53M
61                                    Taare Zameen Par             2007                  Drama, Family          8.4      None                        Aamir Khan, Amole Gupte  Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...  An eight-year-old boy is thought to be a lazy ...    145,170        $1.22M
62                                              WALL·E             2008   Animation, Adventure, Family          8.4        95                                 Andrew Stanton  Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...  In the distant future, a small waste-collectin...    917,508      $223.81M
63                                 The Lives of Others             2006                Drama, Thriller          8.4        89               Florian Henckel von Donnersmarck                                           Ulrich M  In 1984 East Berlin, an agent of the secret po...    326,795       $11.29M
64                                              Oldboy             2003         Action, Drama, Mystery          8.4        77                                           Chan                                                Min  After being kidnapped and imprisoned for fifte...    464,508        $0.71M
65                                             Memento             2000              Mystery, Thriller          8.4        80                              Christopher Nolan                                 Guy Pearce, Carrie  A man with short-term memory loss attempts to ...  1,040,068       $25.54M